@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --background-color: #010;
  --text-color: #afb8a8;
}

/* cascade */

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background-color);
  color: var(--text-color);
  font: 100%/1.5 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  color: white;
  font-family: 'Playfair Display';
  font-size: 4rem;
  line-height: 1;
  margin: 0;
}

.brand {
  color: white;
  font-family: 'Playfair Display';
  font-size: 1.5rem;
}

.big-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

.big-button {
  background: var(--text-color);
  border-radius: 1.5rem;
  color: var(--background-color);
  font-weight: 700;
  padding: 12px 1.5rem;
}
.big-button:hover {
  background: white;
}

body {
  text-align: center;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
header > div {
  flex: 1;
}
header > div:nth-child(1) {
  text-align: left;
}
header > div:nth-child(3) {
  text-align: right;
}

#hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 70vh;
  padding: 2rem;
}
